.home-page{
    height: 43vh;
}
.home_objetivos{
    background: #c9d6df;
    opacity: 0.8;
    padding: 1em;
}
.home_info{
    background: #f0f5f9;
    opacity: 0.8;
    padding: 1em;
}

.home_estrategia{
    background: #c9d6df;
    opacity: 0.8;
    padding: 1em;
}